
body {
	background: #000;
	text-align: center;
	font-family: 'Shojumaru-Regular';
}

.main-container {
	height: 85vh;
	width: 60vw;
	border: #fff dotted 2px;
	margin: 5vh auto;
	padding:  0;
}

.cornerWindow {
	height: 30%;
	width: 40%;
	border-right: #fff dotted 2px;
	border-bottom: #fff dotted 2px;
	float:left;
}

.instructions {
	background: #000;
	padding: 5vh 0 0 0;
}
#button {
	background-color: yellow;
}

.memo {
	color: #fff;
	font-family: 'Shojumaru-Regular';
}

.scoreboard {
	height: 10%;
	text-align: center;
	padding: 5vh 0 0 0;
}


.wins, .losses {
	color: #fff;
	margin-left: 20px;
	display: inline;
	font-family: Georgia;
}

.clueHeader {
	color: #fff;
	padding: 15vh 0 0 0;
}
.clueText {
	font-size:4vh;
}

.clue {
	height: 8vh; 
	margin: 3vh 0 0 0;
}
#clue {
	color: #fff;
	font-size: 5vw;
	letter-spacing: 10px;
}

.guessesRemaining {
	margin: 5vh 0 0 0;
	color: #fff;
}
.wins, .losses {
	color: #fff;
}

.letterBox {
	height: 25%;
	min-width: 100%;
	margin: 6vh 0 0 0;
	color: #e67e22;
	font-size: 1.2em;
	letter-spacing: 1vw;
}

.letterHeader {
	color: #fff;
	font-size: 3vw;
	margin: 6vh 0 0 0;
}

